<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a Currency</title>
</head>
<body>
    <h1>choose how you want to pay</h1>
    <div><form action="/{{url}}?currency=usd" method="post"><button>US Dollars</button></form> <form action="/{{url}}?currency=eur" method="post"> <button>Euros</button></form></div>
</body>
</html>